<div class="container">
	<h1 class="mb-4">Blog posts</h1>
	<% if(locals.currentClient) { %>
	<a href="/posts/new" class="btn btn-success">New post</a>
	<% } posts.forEach(post => { %>
	<div class="card mt-4 mb-4 post-container">
		<div class="card-body">
			<h4 class="card-title"><a href="/posts/<%= post.slug %>"><%=post.title %></a></h4>
			<div class="card-subtitle text-muted mb-2">
				Submitted on <%=post.createdAt.toLocaleDateString() %> by
				<a href="/users/<%= post.author.username %>"><%= post.author.username %></a>
			</div>
			<div class="card-text mb-2"><%=post.description %></div>
			<div class="mb-1">
				<button class="btn btn-primary">Icon</button>
				<span><%= post.likes.length %> likes</span>
				<button class="btn btn-primary">Icon</button>
				<span><%= post.commentsCount %> comments</span>
			</div>

			<% if(locals.currentClient && (currentClient.id == post.author.id || currentClient.role === 'admin')) {%>
			<a href="posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>
			<form method="POST" action="/posts/<%= post.id %>?_method=DELETE" class="d-inline">
				<button class="btn-danger btn" type="submit">Delete</button>
			</form>
			<% } %>
		</div>
	</div>
	<% }) %>
</div>
